body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial;
  color: white;
}

#menu {
  position: absolute;
  width: 101%;
  height: 90%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 18px;
}

#hud {
  position: absolute;
  top: 10px;
  left: 10px;
}